params {
    // To avoid crashing jobs processing larger Giardia spp. genomes
    max_cpus        = 8
    min_time        = '2.h'
    max_time        = '70.h'
    max_memory      = '88.GB'
    max_downloads   = 8

    }

profiles {
    slurm_eagle {

        apptainer {
            enabled = true
            autoMounts = true
                runOptions = "--home /scratch/mdprieto/cache/bactopia_tmp --env PYTHONNOUSERSITE=1 --bind \$APPTAINERENV_TMPDIR:/project,/scratch"
            envWhitelist = ['APPTAINERENV_TMPDIR', 'PYTHONNOUSERSITE']
        }
                
        executor {
            // Execute in slurm by default, max 8 concurrent jobs
            pollInterval    = '60 sec'
            name = 'slurm'
            submitRateLimit = '8/min'
            queueSize = 20
        }
        
        process {
            
            // Boilerplate options
            errorStrategy   = 'retry'
            maxRetries      = 3
            queue           = 'cpubase_bycore_b1'
            containerOptions = "--bind /scratch/mdprieto/cache/bactopia_tmp:/tmp --env TMPDIR=/tmp --env TEMP=/tmp --env TMP=/tmp"

            // Add more memory, time, and CPU for Giardia spp. assembly. Max 4 simultaneous of these jobs
            withName: '.*:GATHER:.*' {
                executor = 'slurm'
                cpus = 2
                memory = { 16.GB * task.attempt }
            }            
            withName: '.*:ASSEMBLER:.*' {
                memory = {60.GB * task.attempt }
                time = { meta.runtype == 'hybrid' || meta.runtype == 'ont'  ||  params.use_unicycler ? 20.h * task.attempt : 20.h * task.attempt}
                cpus = { 8 }
                maxForks = 8
                    }
            withLabel: 'assembly_qc' {
                memory = {60.GB * task.attempt}
                time = {20.h * task.attempt}
                    }
                    
            // Focus on assembly and preprocessing
            withName: '.*:ASSEMBLER:.*|.*:ASSEMBLY_QC:.*' {
                errorStrategy = 'retry'
                maxRetries = 3
                }
                    
            /// SABOTAGE: Force failure (short walltime) and ignore error for unwanted modules
            withName: '.*:ANNOTATOR:.*|.*:SKETCHER:.*|.*:AMRFINDERPLUS:.*|.*:MLST:.*|.*:CSVTK_CONCAT' {
                time = 10.s
                maxRetries = 0
                errorStrategy = 'ignore'
                cpus = 2
                memory = 4.GB
                }
            }
        }

        slurm_fir {

            apptainer {
                enabled = true
                autoMounts = true
                runOptions = "--home /scratch/mdprieto/cache/bactopia_tmp --env PYTHONNOUSERSITE=1 --bind \$APPTAINERENV_TMPDIR:/project,/scratch"
                envWhitelist = ['APPTAINERENV_TMPDIR', 'PYTHONNOUSERSITE']
            }

            executor {
                pollInterval    = '60 sec'
                name = 'slurm'
                submitRateLimit = '15/min'
                queueSize = 50
            }
            
            process {
                
                // Boilerplate options
                errorStrategy   = 'retry'
                maxRetries      = 3
                containerOptions = "--bind /scratch/mdprieto/cache/bactopia_tmp:/tmp --env TMPDIR=/tmp --env TEMP=/tmp --env TMP=/tmp"

                // Process customization
                withName: '.*:GATHER:.*' {
                    executor = 'slurm'
                    cpus = 2
                    memory = { 16.GB * task.attempt }
                }            
                withName: '.*:ASSEMBLER:.*' {
                    memory = {60.GB * task.attempt }
                    time = { meta.runtype == 'hybrid' || meta.runtype == 'ont'  ||  params.use_unicycler ? 20.h * task.attempt : 20.h * task.attempt}
                    cpus = { 8 }
                    maxForks = 8
                        }
                withLabel: 'assembly_qc' {
                    memory = {60.GB * task.attempt}
                    time = {20.h * task.attempt}
                        }
                withName: '.*:ASSEMBLER:.*|.*:ASSEMBLY_QC:.*' {
                    errorStrategy = 'retry'
                    maxRetries = 3
                    }
                withName: '.*:ANNOTATOR:.*|.*:SKETCHER:.*|.*:AMRFINDERPLUS:.*|.*:MLST:.*|.*:CSVTK_CONCAT|.*:PROKKA:.*|.*:BAKTA:.*' {
                    time = 10.s
                    maxRetries = 0
                    errorStrategy = 'ignore'
                    cpus = 2
                    memory = 4.GB
                    }
                }
        }
    }
