params {
    // To avoid crashing jobs processing larger Giardia spp. genomes
    max_cpus        = 8
    min_time        = 120
    max_time        = 1500
    max_memory      = 88
    max_downloads   = 8

    // shovill_opts    = "--tmpdir /scratch/mdprieto/bactopia_tmp"
    }

profiles {
    slurm {

        singularity {
            enabled = true
            autoMounts = true
            runOptions = '--env HOME=/tmp_home --bind /scratch/mdprieto/bactopia_tmp:/tmp_home --env PYTHONNOUSERSITE=1 --bind $APPTAINERENV_TMPDIR:/project,/scratch'
            envWhitelist = ['APPTAINERENV_TMPDIR', 'PYTHONNOUSERSITE']
        }
                
        executor {
            // Execute in slurm by default, max 8 concurrent jobs
            pollInterval    = '60 sec'
            name = 'slurm'
            submitRateLimit = '8/min'
            queueSize = 20
        }
        
        process {
            
            // Boilerplate options
            errorStrategy   = 'retry'
            maxRetries      = 3
            queue           = 'cpubase_bycore_b1'
            containerOptions = "--bind /scratch/mdprieto/bactopia_tmp:/tmp --env TMPDIR=/tmp --env TEMP=/tmp --env TMP=/tmp"

            // Add more memory, time, and CPU for Giardia spp. assembly. Max 4 simultaneous of these jobs
            withName: '.*:ASSEMBLER:.*' {
                memory = { check_max(60.GB * task.attempt, RESOURCES.MAX_MEMORY, 'memory') }
                time = { meta.runtype == 'hybrid' || meta.runtype == 'ont'  ||  params.use_unicycler ? check_max( 20.h * task.attempt, (params.max_time).m, 'time' ) : check_max( 20.h * task.attempt, (params.max_time).m, 'time' )}
                cpus = { 8 }
                maxForks = 8
                    }
                    
            // assembly_qc should not take more than 12h        
            withLabel: 'assembly_qc' {
                memory = {check_max(20.GB * task.attempt, RESOURCES.MAX_MEMORY, 'memory' )}
                time = {check_max( 6.h * task.attempt, (params.max_time).m , 'time' )}
                    }
                    
            // Focus on assembly and preprocessing
            withName: '.*:ASSEMBLER:.*|.*:ASSEMBLY_QC:.*' {
                errorStrategy = 'retry'
                maxRetries = 3
                }
                    
            /// SABOTAGE: Force failure (short walltime) and ignore error for unwanted modules
            withName: '.*:ANNOTATOR:.*|.*:SKETCHER:.*|.*:AMRFINDERPLUS:.*|.*:MLST:.*|.*:CSVTK_CONCAT' {
                time = 10.s
                maxRetries = 0
                errorStrategy = 'ignore'
                cpus = 2
                memory = 10.GB
                }
            }
        }
    }
