/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for personal pipeline
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run the complete dataset.
----------------------------------------------------------------------------------------
*/

params {

    // options
    translation_table           = 1
    evaluate_testing_subsets    = true
    number_splits               = 10
    random_state                = 980
    // cgMLST_threshold            = 90
    
}

process{
    withName: 'PARALLEL_RECREATE_SCHEMA' {
        publishDir = [ enabled: false ]
        ext.rename_patt = "SRX[0-9]+-"
    }
}

profiles  {
    slurm {
        process{
            executor = 'slurm'
            errorStrategy = 'retry'
            cache = 'lenient'
        }
        executor {
            pollInterval = '60 sec'
            name = 'slurm'
            submitRateLimit = '20/min'
            queueSize = 8   
        }
    }
}

