// Profile for eagle cluster

profiles  {
    slurm {
        process{
            errorStrategy = 'retry'
            maxRetries = 2
        }
        executor {
            pollInterval = '60 sec'
            name = 'slurm'
            submitRateLimit = '8/min'
            queueSize = 8   
        }
    }
}

// Specific process options

process {
    resourceLimits = [
        cpus: 8,
        memory: 95.GB,
        time: 24.h 
        ]
    withName: 'GATK4_VARIANTFILTRATION' {
        ext.args   = { 
            ( "--filter-name \"QD\" --filter-expression \"QD <= 10.0\" ") +
            ( "--filter-name \"DP\" --filter-expression \"DP <= 10.0\" ") +
            ( "--filter-name \"FS\" --filter-expression \"FS >= 55.0\" ") +
            ( "--filter-name \"MQ\" --filter-expression \"MQ <= 40.0\" ")            
            }
    }
    // May fail due to input bams having no aligned reads
    withName: 'GOLEFT_INDEXCOV' {
        errorStrategy = 'ignore'
        ext.prefix = "giardia_indexcov"
        ext.args = {
            ( "--excludepatt \"^NW_|_alt\" " ) +
            ( " --sex '' " )
        }
    }
    
}