/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for personal pipeline
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run the complete dataset.
----------------------------------------------------------------------------------------
*/

params {

    // options
    translation_table           = 1
    evaluate_testing_subsets    = true
    number_splits               = 10
    random_state                = 980
    // cgMLST_threshold         = 90
    
}

profiles  {
    slurm_fir {

            executor {
                name = 'slurm'
                pollInterval = '2 min'
                submitRateLimit = '12/min'
                queueSize = 40
                queueStatInterval = '60 sec'    // added for better queue monitoring
                exitReadTimeout = '30 min'      // added timeout for exit code reading
            }
            apptainer {
                enabled = true
                autoMounts = true
                pullTimeout = '1h'
                cacheDir = '/project/6007413/cidgoh_share/singularity_imgs/'
                libraryDir = '/project/6007413/cidgoh_share/singularity_imgs/'
            }
            
            process {

                // -------------------------------------------------------------------------------------------------------
                // Process customization
                // -------------------------------------------------------------------------------------------------------
                
                // Set maximum submissions, add account, set retry, and define resource limits
                maxForks = 40
                stageInMode = 'symlink'
                scratch = false
                clusterOptions = '--account=def-whsiao-ab'
                errorStrategy = { task.exitStatus in [5, 108, 125, 126, 104, 130..145, 255] ? 'retry' : 'finish' }
                maxRetries = 3
                maxErrors = -1
                beforeScript = { task.attempt > 1 ? 'sleep 600' : '' }
                
                resourceLimits = [
                    cpus: 8,
                    memory: 85.GB,
                    time: 24.h
                    ]

                withName: 'PARALLEL_RECREATE_SCHEMA' {
                    publishDir = [ enabled: false ]
                    ext.rename_pattern = "SRX[0-9]+-"
                    }
                }
            }

        // Local execution, mostly for piloting and developing
        local_dev {
            executor {
                name = 'local'
                cpus = 2
            }
            process {
                executor = 'local'
                withName: '.*' {
                    cpus = 1
                }
            }
            apptainer {
                enabled = true
                autoMounts = true
                pullTimeout = '1h'
                cacheDir = '/project/6007413/cidgoh_share/singularity_imgs/'
                libraryDir = '/project/6007413/cidgoh_share/singularity_imgs/'
                }
            }
        }